{% extends "base.html" %}
{% block content %}
{% load static %}
<header>

 <img src="https://imgur.com/YFtawoq.jpg"width="1300" height="1100">

</header>

  <h1 class="text-center p-2">Furry Friends Pet Grooming</h1>
  <h1>About us </h1>

  <p>Furry Friends’s Pet Grooming has over 56 years of combined pet grooming experience, ranging from show grooming to all breed Pet grooming. We pride ourselves on constantly providing a safe and quality grooming experience for your precious family pet.At Furry Friends’s Pet Grooming we treat every pet like a member of the family. Safety and kindness are our first considerations when performing any service for your precious pet.Our salon is kept clean and equipment is sanitized between each pet. We use state of the art equipment such as the Clipper Vac System, which allows us to groom your pet without our blades ever getting hot. This system can help us provide your pet with a safer and more comfortable grooming experience. Our staff is qualified to perform grooming and styling procedures on all breeds of dogs.</p>

  <div class="container">
    <div class="row p-5 justify-content-center" style="background-color: #fff">
      <div class="card-deck">
        <div class="card">
           <div class="card-body">
            <i class="fa fa-clock-o p-2 fa-3x" style="color:blue"></i>
            <h1 class="card-title">Opening Hours</h1>
            <p class="card-text">Sun & Mon: Closed</p>
            <p class="card-text">Tus-Sat: 7:30am-5pm</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <i class="fa fa-map fa-3x p-2" style="color:green"></i>
            <h1 class="card-title">Adress</h1>
            <p class="card-text">4320 4th St N Saint Petersburg, FL 33703</p>
          </div>

        </div>
        <div class="card">
      
        <div class="card-body">
            <i class="fa fa-phone fa-3x p-2" style="color:red"></i>
            <h1 class="card-title">Phone</h1>
            <p class="card-text info">(727) 522-7387</p>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
