{% extends "base.html" %}

{% block content %}
{% load static %}

    <h1>Our Phenomenal Groomers</h1>

  <div class="callout primary ">
  <!--h5>This is a callout.</h5>
  <p>This is a sentence inside the paragraph section of the callout.</p-->
 <div class="grid-y medium-grid-frame">
  <div class="cell shrink header medium-cell-block-container">
    <!--h1>Grid Frame Header</h1-->
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4">
       <h2> New groomers </h2>
      </div>
      <div class="cell medium-4 medium-cell-block">
        <p style="width:80vw;">Our veteran groomers that have experience over twenty years. These three groomers below have worked with us since 2006. </p>
      </div>
      <div class="cell medium-4">
        <h4>Our experienced groomers below</h4>
      </div>
    </div>
  </div>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 medium-cell-block-y">
        <!--h2>Independent scrolling sidebar</h2-->
        <p>Faye - Mobile groomer serving Gulfport, Treasure Island, St Petersburg Beach, Tierra Verde. She grooms toy dogs (up to 19lbs), small dogs (up to 29lbs), medium dogs (up to 39lbs), large dogs (up to 59lbs), and cats.</p>

        <p>Laurence - Mobile groomer serving the same cities as Faye. She grooms toy dogs (up to 19lbs), small dogs (up to 29lbs), medium dogs (up to 39lbs), large dogs (up to 59lbs), and cats. </p>

        <p> Jacki - Mobile groomer serving Pinellas Park and Kenneth City. She grooms toy dogs (up to 19lbs), small dogs (up to 29lbs), medium dogs (up to 39lbs), large dogs (up to 59lbs).</p>

        <p>Aerial - Mobile groomer serving Tarpon Springs, Palm Harbor, Oldsmar, Safety Harbor, Clearwater, Largo, Seminole, and St Petersburg. She grooms toy dogs (up to 19lbs), small dogs (up to 29lbs), medium dogs (up to 39lbs), large dogs (up to 59lbs), and extra-large dogs (up to 100lbs). </p>

        <p>Kim - Mobile groomer serving Clearwater, Largo, Seminole, Pinellas Park, Kenneth City, and St. Petersburg. She grooms toy dogs (up to 19lbs), small dogs (up to 29lbs), medium dogs (up to 39lbs), large dogs (up to 59lbs), and extra-large dogs (up to 100lbs).</p>

      </div>
      <div class="cell medium-8 medium-cell-block-y">
        <!--h2>Independent scrolling body</h2-->
        <p>Sylvia - grew up around dog grooming. She’s been grooming professionally for over 22 years, and is exceptionally talented. She has a keen affinity for puppies … and does a great job with all the dogs she takes care of. She can sometimes be seen dancing with the dogs at her grooming station. She loves her work, and it shows.  
        Pets at home: 4 Pekichu, an English Bulldog, a Chihuahua, and a Plots Hound.
        </p>

        <p>Cathy - has been professionally grooming for over 30 years, and is a huge lover of all animals (on her farm, she has 32 pets… from dogs and cats to goats and chickens to miniature horses to full grown horses…). On any given day, you might find any of her animals inside her house (even the goats and horses!) enjoying a belly rub. She has a gentle touch and gives love to every dog she takes care of. 
        Pets at home: 11 dogs, 1 cat, 24 chickens, goat, mini pig, 1 mini horse, 3 horses, wild turkeys, and beavers. And – she really wants to adopt a zebra. 


        </p>


        <p>Devin - grew up in her mom’s grooming shop in Charleston, and decided early in life that she wanted to help dogs look and feel better every day. For over 32 years, she’s done just that. She specializes in Golden Retrievers and special-needs dogs,  but is experienced and talented with all breeds. Devin is detail oriented with a soft-touch and a playful disposition. And – dogs love her

          Pets at home: Wifi – Pit Beagle mix, Friday – Great Dane, Nacho Kitty – Maine Coon, and In Memoriam – Ipod – Great Dane lives in my heart  
          
        </p>

        <!--p>Aliquam facilisis, nibh eget posuere suscipit, arcu sapien iaculis odio, in molestie dolor lectus vitae sem. Cras id nunc mollis mi rutrum dapibus. Quisque rutrum a augue at scelerisque. Praesent faucibus ac enim vitae gravida. Sed et sodales elit. Duis magna lectus, interdum sit amet metus a, sagittis varius magna. Proin nibh lectus, egestas a luctus ut, dapibus et enim. Curabitur fringilla ipsum vitae nunc imperdiet consectetur eget non neque. Suspendisse ultricies odio quis lorem vulputate, ac vulputate turpis feugiat. Maecenas posuere rhoncus orci, in ornare velit suscipit tempor. Curabitur pretium nisl id lorem placerat consequat. In quis quam eros. Nam mattis elit eu quam sagittis, in varius erat tempor.</p>
        <p>Fusce felis magna, pellentesque eget mollis a, rutrum id eros. Curabitur auctor varius arcu a consequat. Phasellus quis pulvinar enim, eu ultricies justo. Pellentesque risus libero, dapibus at erat ultricies, gravida varius erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla tempus, justo ut laoreet mollis, nunc tellus convallis urna, vel pretium dui velit eget ligula. Aliquam semper sed nulla a molestie. Maecenas at egestas massa, vitae aliquam mi. Fusce nec sem egestas, pretium lacus non, tincidunt sapien. Sed tristique odio at ultricies vulputate. Integer et convallis augue, eu aliquam enim. Mauris ut faucibus diam. Donec vulputate nunc sed congue accumsan. Etiam lobortis nisi quis lacinia pharetra.</p-->
      </div>
    </div>
  </div>
  <div class="cell shrink footer">
    <!--h3>Here's my footer</h3-->
  </div>
</div>

{% endblock content %}
